.main_container{
  max-width: 700px;
  margin: auto;
}

.content_wrapper {
  margin: 40px;
 
}
.header{
  color: blue;
    font-size: 23px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.amount_text{
  margin: 0px;
}

.input_style{
  padding: 7px;
    margin-left: 12px;
    width: 250px;
}
.amount_wrapper{
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top: 30px;
}
.button_container{
  width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.button_wrapper{
  border: none;
  background: blue;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: center;
  width: 200px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}